<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="at.tb_gruber.designer.design.Activator"
               id="at.tb_gruber.designer.design"
	       name="designer">
    </component>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="at.tb_gruber.designer.ide.category"
           name="TB Gruber">
     </category>
     <wizard
           category="at.tb_gruber.designer.ide.category"
           class="at.tb_gruber.designer.ide.NewWizard"
           finalPerspective="org.eclipse.sirius.ui.tools.perspective.modeling"
           icon="images/icons/32x32.png"
           id="at.tb_gruber.designer.ide.wizard"
           name="TBG Projekt"
           project="true">
     </wizard>
  </extension>
  <extension
        id="tbgnature"
        name="TBG Nature"
        point="org.eclipse.core.resources.natures">
     <runtime>
        <run
              class="at.tb_gruber.designer.ide.ProjectNature">
        </run>
     </runtime>
  </extension>
  <extension
        point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
     <GlobalActionHandlerProvider
           class="at.tb_gruber.designer.ide.print.TBGDiagramWithPrintGlobalActionHandlerProvider"
           id="at.tb_gruber.designer.design.GlobalActionHandlerProvider">
        <Priority
              name="Highest">
        </Priority>
        <ViewId
              id="org.eclipse.sirius.diagram.ui.part.SiriusDiagramEditorID">
           <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="print"/>
            </ElementType>
        </ViewId>
     </GlobalActionHandlerProvider>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="at.tb_gruber.designer.ide.preferences.TBGPreferencePage"
           id="at.tb_gruber.designer.ide.preferences.page"
           name="TBG Designer">
     </page>
  </extension>
  <extension
        point="org.eclipse.sirius.diagram.ui.styleConfigurationProvider">
     <styleConfigurationProvider
           providerClass="at.tb_gruber.designer.design.style.StyleConfigurationProvider">
     </styleConfigurationProvider>
  </extension>
  <extension
        point="org.eclipse.sirius.sessionFactory">
     <sessionFactory
           class="at.tb_gruber.designer.transaction.TBGSessionFactory">
     </sessionFactory>
  </extension>
  <extension
        point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
     <editpartProvider
           class="at.tb_gruber.designer.design.style.TBGEditPartProvider">
        <Priority
              name="Highest">
        </Priority>
     </editpartProvider>
  </extension>
</plugin>
