<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Designer">
         <property
               name="windowImages"
               value="images/16x16.png,images/32x32.png,images/48x48.png,images/64x64.png,images/128x128.png,images/256x256.png">
         </property>
         <property
               name="aboutImage"
               value="images/128x128.png">
         </property>
         <property
               name="appName"
               value="Designer">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,308,458,18">
         </property>
         <property
               name="startupProgressRect"
               value="0,328,458,18">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
